<ion-view view-title="login">
      <ion-content>
        <div class="list login">
          <img src="img/logo.png" alt="velcom">
          <label class="item item-input">
           <input type="text" placeholder="+375 XX XXX XX XX">
          </label>
          <label class="item item-input">
          <input type="PASSWORD" placeholder="PASSWORD">
          </label>
          <button class="button"> Вход </button>
          <div>
            <a href="#">Вспомнить или получить пароль</a>
          </div>
        </div>
      </ion-content>
</ion-view>